<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assortment Data</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,cr-1.2.0,fc-3.1.0,fh-3.0.0,kt-2.0.0,r-1.0.7,rr-1.0.0,sc-1.3.0,se-1.0.1/datatables.min.css"/>

    <!-- Latest compiled and minified CSS -->
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"#}
    {#          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="#}
    {#          crossorigin="anonymous">#}
    {#    <!-- Optional theme -->#}
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"#}
    {#          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">#}
    <script type="text/javascript"
            src="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,cr-1.2.0,fc-3.1.0,fh-3.0.0,kt-2.0.0,r-1.0.7,rr-1.0.0,sc-1.3.0,se-1.0.1/datatables.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"#}
    {#            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="#}
    {#            crossorigin="anonymous"></script>#}
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body style="font-family: ubuntu;background: #3e3e40;color: yellow">
{#<div style="float: left;padding-top: 10px;padding-left: 10px;">#}
{#    Level#}
{#    <select id="level">#}
{#        <option value="sub-cat" selected>Sub-Cat</option>#}
{#        <option value="brand">Brand</option>#}
{#        <option value="competitor">Competitor</option>#}
{#    </select>#}
{#</div>#}

{#<div style="padding:20px 20px;font-size: 13px;font-weight: bold;float: right">{{ datetime }}</div>#}
<div id="competitor_assortment" style="width:100%; height:400px;margin-top:10px"></div>
<div id="category_assortment" style="width:100%; height:400px;margin-top:10px"></div>
<div class="table-responsive" style="float: left">
    <h4 style="margin-left: 40%;color: white">{{ level|title }} Level Assortment</h4>
    <table class="table table-bordered table-condensed"
           style="margin-top:1%;font-size: 11px; ">
        <thead>
        <tr style="color:#bbccdd">
            <th>S.No.</th>
            <th>Competitor</th>
            {% if level == 'brand' or level == 'sub-cat' %}
                <th>Brand</th>
                {% if level == 'sub-cat' %}
                    <th>Sub-Category</th>
                {% endif %}
            {% endif %}
            <th>Total Products</th>
            <th>Avg Discount %</th>
            <th>Discount (0-10%)</th>
            <th>Discount (10-20%)</th>
            <th>Discount (20-30%)</th>
            <th>Discount (30-40%)</th>
            <th>Discount (40-50%)</th>
            <th>Discount (50-60%)</th>
            <th>Discount (60-70%)</th>
            <th>Discount (70-80%)</th>
            <th>Discount (80-90%)</th>
            <th>Discount (90-100%)</th>
        </tr>
        </thead>
        <tbody>
        {% for data in assortment_data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ data.competitor_name|title }}</td>
                {% if level == 'brand' or level == 'sub-cat' %}
                    <td>{{ data.brand_name|title }}</td>
                    {% if level == 'sub-cat' %}
                        <td>{{ data.sub_cat_name|title }}</td>
                    {% endif %}
                {% endif %}
                <td>{{ data.total_products }}</td>
                <td>{{ data.avg_discount|floatformat:2 }}</td>
                <td>{% if data.disc_0_10 %}{{ data.disc_0_10 }}{% else %}0{% endif %}</td>
                <td>{% if data.disc_10_20 %}{{ data.disc_10_20 }}{% else %}0{% endif %}</td>
                <td>{% if data.disc_20_30 %}{{ data.disc_20_30 }}{% else %}0{% endif %}</td>
                <td>{% if data.disc_30_40 %}{{ data.disc_30_40 }}{% else %}0{% endif %}</td>
                <td>{% if data.disc_40_50 %}{{ data.disc_40_50 }}{% else %}0{% endif %}</td>
                <td>{% if data.disc_50_60 %}{{ data.disc_50_60 }}{% else %}0{% endif %}</td>
                <td>{% if data.disc_60_70 %}{{ data.disc_60_70 }}{% else %}0{% endif %}</td>
                <td>{% if data.disc_70_80 %}{{ data.disc_70_80 }}{% else %}0{% endif %}</td>
                <td>{% if data.disc_80_90 %}{{ data.disc_80_90 }}{% else %}0{% endif %}</td>
                <td>{% if data.disc_90_100 %}{{ data.disc_90_100 }}{% else %}0{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function get_appended_url(param, value, url) {
        var regex = new RegExp('(' + param + '=)(.+?)\&');
        var index = url.indexOf(param);
        if (index < 0) {
            if (url.indexOf("?") < 0) {
                url += "?";
            } else {
                url += "&";
            }
            url += param + '=' + value;
        } else {
            url.replace(regex, value);
        }
        return url;
    }

    $('#level').on('change', function () {
        param = 'level';
        var url = window.location.href;
        //get_appended_url(param, $(this).val(), url);
        //console.log(get_appended_url(param, $(this).val(), url));
        window.location.href = get_appended_url(param, $(this).val(), url);
    });
</script>
<script type="text/javascript" src="/static/js/highcharts.js"></script>
<script type="text/javascript" src="/static/js/competitor.js"></script>
</body>
</html>