{% if overall_alerts %}
    <div style="width: 100%;display: block;float: left;">
        <h3>Overall Conversions</h3>
        <table style="display: block;float: left;border-spacing: 0; border-collapse: collapse">
            <tr>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Drop In</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Region</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ datetime }}</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Last 7 Days</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Drop %</th>
            </tr>
            {% for goal in overall_alerts %}
                {% for k,v in goal.iteritems %}
                    {% if k != 'history' %}
                        <tr>
                            <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ k }}</td>
                            <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ v.name }}</td>
                            {% if v.name == 'India' %}
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.current_india_conversion_ratio|floatformat:2 }}</td>
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.india_conversion_ratio|floatformat:2 }}</td>
                            {% elif v.name == 'ROW' %}
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.current_row_conversion_ratio|floatformat:2 }}</td>
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.row_conversion_ratio|floatformat:2 }}</td>
                            {% else %}
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.current_overall_conversion_ratio|floatformat:2 }}</td>
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.overall_conversion_ratio|floatformat:2 }}</td>
                            {% endif %}
                            <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ v.drop_percent|floatformat:2 }}
                                %
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
        {% endfor %}
        </table>
    </div>
{% endif %}

{% if browser_alerts %}
    <div style="width: 100%;display: block;float: left;">
        <h3>Browserwise Conversions</h3>
        <table style="display: block;float: left;border-spacing: 0; border-collapse: collapse">
            <tr>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Drop In</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Browser</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ datetime }}</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Last 7 Days</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">Drop %</th>
            </tr>
            {% for goal in browser_alerts %}
                {% for k,v in goal.iteritems %}
                    {% if k != 'history' %}
                        <tr>
                            <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ k }}</td>
                            <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ v.name }}</td>
                            {% if v.name == 'Chrome' %}
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.current_chrome_conversion_ratio|floatformat:2 }}</td>
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.chrome_conversion_ratio|floatformat:2 }}</td>
                            {% elif v.name == 'Safari' %}
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.current_safari_conversion_ratio|floatformat:2 }}</td>
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.safari_conversion_ratio|floatformat:2 }}</td>
                            {% elif v.name == 'Internet Explorer' %}
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.current_ie_conversion_ratio|floatformat:2 }}</td>
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.ie_conversion_ratio|floatformat:2 }}</td>
                            {% else %}
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.current_other_browser_conversion_ratio|floatformat:2 }}</td>
                                <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ goal.history.other_browser_conversion_ratio|floatformat:2 }}</td>
                            {% endif %}
                            <td style="border: 2px solid #000000;padding-left: 5px;padding-right: 5px">{{ v.drop_percent|floatformat:2 }}
                                %
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endif %}