<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goals Conversion</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,cr-1.2.0,fc-3.1.0,fh-3.0.0,kt-2.0.0,r-1.0.7,rr-1.0.0,sc-1.3.0,se-1.0.1/datatables.min.css"/>

    <script type="text/javascript"
            src="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,cr-1.2.0,fc-3.1.0,fh-3.0.0,kt-2.0.0,r-1.0.7,rr-1.0.0,sc-1.3.0,se-1.0.1/datatables.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/funnel.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>
<body>
<div style="display: block;">
<div id="goals_conversion_funnel_overall"
     style="display:block;min-width: 700px; max-width: 800px; height: 500px;float: left;margin-right: 5px"></div>
    <div style="padding-top: 150px">
        <h4>Current (Overall)</h4>
        <table class="table table-bordered table-condensed" style="width: 40%">
        <tr>
            <th>Funnel Stage</th>
            <th>Value</th>
            <th>Conversion %</th>
            <th>L7D %</th>
        </tr>
            {% for i in current_data %}
                <tr>
                    <td>{{ i.goal }}</td>
                    <td>{{ i.overall_goal_completions|floatformat }}</td>
                    <td>{{ i.overall_goal_percent }}
                        {% if i.overall_goal_percent != '' and i.overall_goal_percent >= i.avg_overall_goal_percent %}
                            %<span class="glyphicon glyphicon-chevron-up" style="margin-left: 10px;color: green"></span>
                        {% elif i.overall_goal_percent != '' %}
                            %<span class="glyphicon glyphicon-chevron-down" style="margin-left: 10px;color: red"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if i.avg_overall_goal_percent != '' %}
                            {{ i.avg_overall_goal_percent }} %
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div id="goals_conversion_funnel_india"
     style="display:block;min-width: 700px; max-width: 800px; height: 500px;float: left;margin-right: 5px"></div>
<div style="display: block;">
    <div style="padding-top: 180px">
        <h4>Current (India)</h4>
        <table class="table table-bordered table-condensed" style="width: 40% ">
            <tr>
                <th>Funnel Stage</th>
                <th>Value</th>
                <th>Conversion %</th>
                <th>L7D %</th>
            </tr>
            {% for i in current_data %}
                <tr>
                    <td>{{ i.goal }}</td>
                    <td>{{ i.india_goal_completions|floatformat }} </td>
                    <td>{{ i.india_goal_percent }}
                        {% if i.india_goal_percent != '' and i.india_goal_percent >= i.avg_india_goal_percent %}
                            %
                            <span class="glyphicon glyphicon-chevron-up" style="margin-left: 10px;color: green"></span>
                        {% elif i.india_goal_percent != '' %}
                            %
                            <span class="glyphicon glyphicon-chevron-down" style="margin-left: 10px;color: red"></span>
                        {% endif %}
                    </td>
                    <td>
                        {% if i.avg_india_goal_percent != '' %}
                            {{ i.avg_india_goal_percent }} %
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
<div id="goals_conversion_funnel_row"
     style="display:block;min-width: 700px; max-width: 800px; height: 500px;float: left"></div>
</div>
<div style="display: block;">
    <div style="padding-top: 250px">
        <h4>Current (ROW)</h4>
        <table class="table table-bordered table-condensed" style="width: 40% ">
            <tr>
                <th>Funnel Stage</th>
                <th>Value</th>
                <th>Conversion %</th>
                <th>L7D %</th>
            </tr>
            {% for i in current_data %}
                <tr>
                    <td>{{ i.goal }}</td>
                    <td>{{ i.row_goal_completions|floatformat }}</td>
                    <td>{{ i.row_goal_percent }}
                        {% if i.row_goal_percent != '' and i.row_goal_percent >= i.avg_row_goal_percent %}
                            %<span class="glyphicon glyphicon-chevron-up" style="margin-left: 10px;color: green"></span>
                        {% elif i.row_goal_percent != '' %}
                            %<span class="glyphicon glyphicon-chevron-down" style="margin-left: 10px;color: red"></span>
                        {% endif %}
                    </td>
                    <td>{% if i.avg_row_goal_percent != '' %}
                        {{ i.avg_row_goal_percent }} %
                    {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{#<script type="text/javascript" src="/static/js/highcharts.js"></script>#}
<script type="text/javascript" src="/static/js/goals.js"></script>
</body>

</html>